<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>そらガイド 空港管理-会社情報設定</title>
</head>
<body>
<section layout:fragment="content" th:object="${airportInfo}">
    <div class="content">
        <h4>会社情報設定</h4>
        <hr noshade/>
        <div class="center">
            <p id="message" th:text="${message}"></p>
            <th:block th:text="'会社名：' + *{companyName}"/>
            <br>
            <th:block th:text="'電話番号：' + *{contact}"/>

            <form th:action="@{/company/setting}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{companyName}" placeholder="新しい会社名" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{contact}" placeholder="新しい電話番号" required/>
                </div>
                    <input type="submit" class="btn btn-primary" value="更新する"/>
            </form>
        </div>
    </div>
</section>
</body>
</html>