<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>そらガイド 空港管理-タクシー会社追加</title>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <h1>タクシー会社追加</h1>
        <hr noshade/>
        <p th:text="${errorMessage}"></p>
        <form th:action="@{./add}" method="post" th:object="${reservationForm}">



        </form>
    </div>
</section>
</body>
</html>