<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>そらガイド 空港管理-タクシー会社追加</title>
    <link th:href="@{/css/changePassword.css}" rel="stylesheet"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <h1>タクシー会社追加</h1>
        <hr noshade/>
        <li th:each="error : ${#fields.detailedErrors()}">
            <span th:text="${error.message}">Error message</span>
        </li>
        <p th:text="${message}"></p>
        <form th:action="@{/taxi/add}" method="post" th:object="${taxiCompanyForm}">
            <label>会社名</label>
            <div class="form-group">
                <input type="text" th:field="*{companyName}" class="form-control" placeholder="サンプルタクシー" required/>
            </div>
            <label>電話番号</label>
            <div class="form-group">
                <input type="tel" th:field="*{companyContact}" class="form-control" placeholder="08012345678" required/>
            </div>
            <label>メールアドレス</label>
            <div class="form-group">
                <input type="email" th:field="*{companyMail}" class="form-control" placeholder="aaa@sample.co.jp"
                       required/>
            </div>
            <input type="submit" value="追加する"/>
        </form>
    </div>
</section>
</body>
</html>