<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>そらガイド 空港管理-タクシー会社一覧</title>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <h1>タクシー会社一覧</h1>
        <hr noshade/>

        <p th:text="${errorMessage}"></p>
        <button type="button" onclick="location.href='/taxi/add'">追加</button>
        <br/>
        <br/>
        <table class="table" rules="rows">
            <tr>
                <th>会社名</th>
                <th>電話番号</th>
                <th>メールアドレス</th>
            </tr>
            <tr th:each="taxi : ${taxiCompanyList}" th:object="${taxi}" th:attr="onclick='listClicked(\'' + ${taxi.companyId} +'\');'">
                <td th:text="*{companyName}"></td>
                <td th:text="*{contact}"></td>
                <td th:text="*{companyMail}"></td>
            </tr>
        </table>
        <br>
    </div>
    <script type="text/javascript" th:src="@{/js/list.js}"></script>
</section>
</body>
</html>