<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>そらガイド 空港管理-パスワード変更</title>
    <link th:href="@{/css/changePassword.css}" rel="stylesheet"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <h4>パスワード変更</h4>
        <hr noshade/>
        <p id="errorMessage" th:text="${message}"></p>
        <form id="passwordChange" th:action="@{/changePassword}" method="post" th:object="${usForm}">
            <p th:text="*{'ユーザー名：' + username}"></p>
            <input type="hidden" th:field="*{username}"/>
            <div class="form-group">
                <input type="password" th:field="*{nowPassword}" th:value="*{nowPassword}" id="nowPassword"
                       class="form-control" onblur="setMessage()" oninput="setFormDisabled()" placeholder="現在のパスワード"/>
            </div>
            <div class="form-group">
                <input type="password" th:field="*{newPassword}" th:value="*{newPassword}" id="newPassword"
                       class="form-control" onblur="setMessage()" oninput="setFormDisabled()" placeholder="新しいパスワード"/>
            </div>
            <div class="form-group">
                <input type="password" id="confirmPassword"
                       class="form-control" onblur="setMessage()" oninput="setFormDisabled()"
                       placeholder="新しいパスワード(確認)"/>
            </div>
            <input type="submit" id="submit" value="変更する" disabled="disabled"/>
        </form>
    </div>
</section>
</body>
</html>