<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <title>そらガイド 空港管理-パスワード変更</title>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <h1>パスワード変更</h1>
        <hr noshade/>
        <p id="errorMessage" th:text="${message}"></p>
        <form id="passwordChange" th:action="@{/changePassword}" method="post" th:object="${usForm}">
            <p th:text="*{'ユーザー名：' + username}"></p>
            <input type="hidden" th:field="*{username}"/>
            <input type="password" th:field="*{nowPassword}" th:value="*{nowPassword}" id="nowPassword"
                   onblur="setMessage()" oninput="setFormDisabled()" placeholder="現在のパスワード"/>
            <br/>
            <input type="password" th:field="*{newPassword}" th:value="*{newPassword}" id="newPassword"
                   onblur="setMessage()" oninput="setFormDisabled()" placeholder="新しいパスワード"/>
            <br/>
            <input type="password" id="confirmPassword"
                   onblur="setMessage()" oninput="setFormDisabled()" placeholder="新しいパスワード(確認)"/>
            <br/>
            <input type="submit" id="submit" value="変更する" disabled="disabled"/>
        </form>
    </div>

</section>
</body>
</html>