<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>そらガイド 空港管理-トピック一覧</title>
    <link th:href="@{/css/changePassword.css}" rel="stylesheet"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <h1>トピック一覧</h1>
        <hr noshade/>
        <input type="submit" onclick="location.href='./reg'" value="追加"/>
        <table class="table table-hover" rules="rows">
            <thead class="thead-dark">
                <tr>
                    <th>トピックID</th>
                    <th>トピック名</th>
                    <th>表示フラグ</th>
                </tr>
            </thead>
            <tr th:each="topic : ${topicList}" th:object="${topic}" th:attr="onclick='listClicked(\'' + ${topic.topicId} +'\');'">
                <td th:text="*{topicId}"></td>
                <td th:text="*{topicName}"></td>
                <td th:text="*{display}"></td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" th:src="@{/js/topicList.js}"></script>
</section>
</body>
</html>